<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-md-8">
     <ul class="breadcrumb">
     <li> <%= link_to 'Home', admin_dashboard_path %></li>
        <li> <%= link_to 'Courses', admin_courses_path %></li>
        <li> <%= link_to @chapter.course.title, admin_course_path(@chapter.course_id) %></li>
        <li> <%= link_to @chapter.title, admin_chapter_path(@chapter.id) %></li>
        <li> <%= link_to @quiz.title, admin_quiz_path(@quiz.id)  %></li>
           <li class="active"><%= @answer.title %> </li>
           
    </ul>
   </div>
   </div>
 <div class="row">
   <div class="col-md-8">
		<p>
		 <h1><%= "Answer #{@answer.id}" %></h1>
		</p>
		<p>
		  <strong>Answer Title:</strong>
		  <%= @answer.title %>
		</p>
		<p>
		  <strong>Is Correct:</strong>
		  <%= @answer.is_correct? %>
		</p>

		
	 </div>
<div class="col-md-4">
<%= link_to "Edit Answer", edit_admin_question_answer_path(@question.id, @answer.id), class: "btn btn-success" %> 
<%= link_to "Delete Answer", admin_question_answer_path(@question.id, @answer.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete answer '#{@answer.title}'?" } %>
</div>
</div>
