<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-md-8">
     <ul class="breadcrumb">
     <li> <%= link_to 'Home', admin_dashboard_path %></li>
        <li> <%= link_to 'Courses', admin_courses_path %></li>
        <li> <%= link_to @chapter.course.title, admin_course_path(@chapter.course_id) %></li>
        <li> <%= link_to @chapter.title, admin_chapter_path(@chapter.id) %></li>
        <li> <%= link_to @quiz.title, admin_quiz_path(@quiz.id)  %></li>
           <li class="active"><%= @question.title %> </li>
           
    </ul>
   </div>
   </div>
 <div class="row">
   <div class="col-md-8">
		<p>
		 <h1><%= "Question #{@question.id}" %></h1>
		</p>
		<p>
		  <strong>Title:</strong>
		  <%= @question.title %>
		</p>

		
	 </div>
<div class="col-md-4">
<%= link_to "Edit Question", edit_admin_quiz_question_path(@question.quiz_id, @question.id), class: "btn btn-success" %> 
<%= link_to "Delete Question", admin_quiz_question_path(@question.quiz_id, @question.id), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete question '#{@question.title}'?" } %>
</div>
</div>
<div class="row">
   <div class="col-md-8">
	 <h3>Answers</h3>
		
		<div class="panel panel-default">
		  <div class="panel-body">
		  <% if @question.answers.count !=0 %>
		    <table class="table table-bordered">
			  <thead>
			    <tr>
			      <th width="70%">Answers</th>
			      <th>Is Corrrect?</th>
			      </tr>
			  </thead>

			  <tbody>
			    <% @question.answers.each do |answer| %>
			      <tr>
			        <td><%= link_to answer.title, admin_question_answer_path(@question.id, answer.id) %></td>
			        <td><%= answer.is_correct? %></td>
			       </tr>
			    <% end %>
			  </tbody>
			</table>
		  <% else %>
		  <p><%= @question.title %> has no answers.</p>
		  <% end %>
		  </div>
		</div>
	 </div>
<div class="col-md-4" style="margin-top:60px;">
<%= link_to "Add Answer", new_admin_question_answer_path(@question.id), class: "btn btn-success" %> 
</div>
</div>