<p id="notice"><%= notice %></p>
<div class="row">
   <div class="col-md-8">
     <ul class="breadcrumb">
     <li> <%= link_to 'Home', admin_dashboard_path %></li>
        <li> <%= link_to 'Courses', admin_courses_path %></li>
        <li> <%= link_to @chapter.course.title, admin_course_path(@chapter.course_id) %></li>
           <li class="active"><%= @chapter.title %> </li>
           
    </ul>
   </div>
   </div>
 <div class="row">
   <div class="col-md-8">
		<p>
		 <h1><%= @chapter.title %></h1>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @chapter.description %>
		</p>
		<p>
		<%= image_tag @chapter.badge_image.url(:thumb), class: 'th' if @chapter.badge_image? %>
		</p>
	 </div>
<div class="col-md-4">
<%= link_to "Edit Chapter", edit_admin_course_chapter_path(@chapter.course_id, @chapter.id), class: "btn btn-success" %> 
<%= link_to "Delete Chapter", admin_course_chapter_path(@chapter.course_id, @chapter.id), class: "btn btn-danger", method: :delete, data: { confirm: "This will also delete all the quizzes and videos. Do you want to proceed?" } %>
</div>
</div>
<div class="row">
   <div class="col-md-8">
	 <h3>Videos</h3>
		
		<div class="panel panel-default">
		  <div class="panel-body">
		  <% if @chapter.videos.count != 0 %>
		    <table>
			  <thead>
			    <tr>
			      <th>Title</th>
			      </tr>
			  </thead>

			  <tbody>
			    <% @chapter.videos.each do |video| %>
			      <tr>
			        <td><%= link_to video.title, admin_chapter_video_path(@chapter.id, video.id) %></td>
			       </tr>
			    <% end %>
			  </tbody>
			</table>
		  <% else %>
		  <p><%= @chapter.title %> has no videos.</p>
		  <% end %>
		  </div>
		</div>
	 </div>
<div class="col-md-4" style="margin-top:60px;">
<%= link_to "Add Video", new_admin_chapter_video_path(chapter_id: @chapter.id), class: "btn btn-success" %> 
</div>
</div>
<div class="row">
   <div class="col-md-8">
	 <h3>Quiz</h3>
		
		<div class="panel panel-default">
		  <div class="panel-body">
		  <% if @chapter.quiz.present? %>
		    <table>
			  <thead>
			    <tr>
			      <th>Title</th>
			      </tr>
			  </thead>

			  <tbody>
			 
			      <tr>
			        <td><%= link_to @chapter.quiz.title, admin_chapter_quiz_path(@chapter.id, @chapter.quiz.id) %></td>
			       </tr>
			    
			  </tbody>
			</table>
		  <% else %>
		  <p><%= link_to "Add Quiz", new_admin_chapter_quiz_path(chapter_id: @chapter.id), class: "btn btn-success" %></p>
		  <% end %>
		  </div>
		</div>
	 </div>
	 <% if @chapter.quiz.present? %>
    <div class="col-md-4" style="margin-top:60px;">
       <%= link_to "Delete Quiz", admin_chapter_quiz_path(@chapter.id, @chapter.quiz.id), method: :delete, class: "btn btn-danger" %> 
     </div>
    <% end %>
</div>

